
body {
    padding: 30px 100px;
    background-color: powderblue;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

table, th, td {
    border: 1px solid black;
}

th {
    background-color: #4CAF50;
    color: white;
}

.big_wrapper {
  padding-left: 150px;
  padding-right: 150px;

}

.add_student {
  padding-left: 160px;
  padding-right: 160px
}

.search_input {
    background-color: white;

    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding-left: 40px;
}
